# Created 20090522 by J. Emond
# See FB 15005
#
# UI Standard .htaccess file
# - Compress text documents for speed
# - Rewrite https to http and no www to www

<IfModule mod_rewrite.c>
RewriteEngine on
# move off of https
RewriteCond %{HTTPS} on
RewriteRule (.*) http://%{SERVER_NAME}%{REQUEST_URI} [L,R=301]

#move to www if no www is entered
RewriteCond %{SERVER_NAME} !^(www\.).*
RewriteRule (.*) http://www.%{SERVER_NAME}%{REQUEST_URI} [L,R=301]
</IfModule>

# compress stuff for faster delivery
AddOutputFilterByType DEFLATE text/css text/javascript application/x-javascript text/html
Header append Vary User-Agent
AddHandler php5-script .php

# custom 404
ErrorDocument 404 /404.html