@charset "utf-8";
/* 

	http://www.colourlovers.com/palette/100694/Machu_Picchu

	deep green		607848
	light green	 	789048
	olive			C0D860
	off-pink		F0F0D8
	purple			604848

*/

BODY {
	margin: 0px;
	padding: 0px;
	background: #C0D860;
	font-family:Georgia, "Times New Roman", Times, serif;
}

H1 {
	font-size:135%;
	margin-bottom:0;
	font-family:Palatino Linotype, Book Antiqua3, Palatino, serif;
}

H2 {
	font-size:110%;
}

.header {
	background-color:#607848;
}

.spacer {
	margin-top:20px;
}

.centertext {
	text-align:center;
}

.textright {
	text-align:right;
}

.header H1 {
	margin: 0px;
	color: #FFFFFF;
	font-size: 175%;
	padding-top: 8px;
	padding-bottom: 5px;
}

.header H1 > A {
	color: blue;
}

.subnote {
	color:#333333;
	font-weight:bold;
	font-size:75%;
}

.strong {
	font-weight: bold;
}

A:hover {
	background-color:#FF0;
}

.nav {
	margin-top:15px;
}

.nav A {
	font-size:115%;
	margin-left: 15px;
	color:#FFF;
	background: none;
	text-decoration: none;
}

.nav A:hover, .nav A.active {
	border-bottom: 3px solid #789048;
}

/* portfolio page */

#Role {
	background-color: #604848;
	border: 5px solid #789048;
	padding: 20px;
	color: #C0D860;
	font-weight: bold;
	font-family:Georgia, "Times New Roman", Times, serif;
	display: block;
	text-align: center;
	width: 20em;
	margin-top: 20px;
}

#Left, #Right { width: 29em; float: left }

#Left { padding-right: 25px; }

#Photos { padding-top: 20px; }

.TeaserImage {
	position:relative;
	width: 200px;
	padding-right:15px;
	padding-bottom:15px;
}

.TeaserImage P {
	position: absolute;
	text-align:left;
	top:20px;
	margin-left: 7px;
	width:185px;
	opacity:0.8;
}

.TeaserImage .project, .TeaserImage .client {
	opacity:50%;
	background-color:#000;
	color:#FFF;
	padding-bottom:5px;
	padding-top:3px;
	padding-left:3px;
	display:block;
}

.TeaserImage .project {
	font-size:100%;
	font-weight:bold;
}

.TeaserImage .client {
	margin-top:10px;
	font-size: 75%;
}

.TeaserImage A {
	color:#FFF;
	text-decoration:none;
}

.quote {
	margin-bottom: 0px;
}

.quoteauthor {
	margin-top: 0px;
	font-size: 75%;
	font-weight: bold;
	text-align:right;
}